# dynamically cloned repos
*.git

# generated automatically
*.generated
*.generated*
*.cache
*.cache*
start
stop
build
build-*
rebuild
init
init-with-local-build
exec
ssh
push
destroy
run.*
*.mnt

TODO.md
.vscode
